
body {
  align-items: center;
  background-color: #A0E7E5;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #FFFFE0;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #29A0B1;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}


.input {
  background-color: #FFFACD;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:#29A0B1;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}






.submit {
  background-color: #29A0B1;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #ECFDF1;
}

header{
  color: #FFFFE0;
  padding-top: 1vw;
  text-align: center;
   font-size: 70px;
}

h3 {
  font-weight: 400;
  font-size: 45px;
}


.button {
  background-color: #FFFFE0;
  border-radius: 30px;
  border-color: #29A0B1;
  box-sizing: border-box;
  font-weight:300;
  color: #29A0B1;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  font-family: Cooper
}

.button:hover {
  border-color: rgba(255,255,255,1);
}